body {
    background-color: rgb(77, 5, 5);
    background-image: url(assets/download.jfif);
    background-repeat: no-repeat;
    background-size: cover; */
} */


.avez {
    color: rgb(58, 233, 131); font-size: 100px;
    border-style: dotted;border-color: blueviolet;
background-color: blue;
}


.font{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-style: initial;
}